<!DOCTYPE HTML>
<html>
 <head>
  <title>POIT skuska</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      //socket.on('connect', function() {
        //socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Data #'+msg.count+': \'{"'+msg.velicina+'": '+msg.data_choose+msg.unit+'}\'<br>').html(); });
        
      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      $('#chooseVal1').click(function(event) {
          console.log($('#chooseVal1').val());
          socket.emit('choose_event', {value: $('#chooseVal1').val()});
          return false; });
      $('#chooseVal2').click(function(event) {
          console.log($('#chooseVal2').val());
          socket.emit('choose_event', {value: $('#chooseVal2').val()});
          return false; });
      $('#chooseVal3').click(function(event) {
          console.log($('#chooseVal3').val());
          socket.emit('choose_event', {value: $('#chooseVal3').val()});
          return false; });
      $('#chooseVal4').click(function(event) {
          console.log($('#chooseVal4').val());
          socket.emit('choose_event', {value: $('#chooseVal4').val()});
          return false; });
      $('#startVal1').click(function(event) {
          console.log($('#startVal1').val());
          socket.emit('start_event', {value: $('#startVal1').val()});
          return false; });
      $('#startVal2').click(function(event) {
          console.log($('#startVal2').val());
          socket.emit('start_event', {value: $('#startVal2').val()});
          return false; });
      $('form#close').submit(function(event) {
          socket.emit('close');
          return false; });         
      });
    </script>
 </head>
 <body>
  <h1>Intelligent home monitoring system</h1>
  <h2>Control</h2>
  <form id="emit" method="POST" action='#'>
    <input type="text" name="emit_value" id="emit_value" placeholder="">
    <input type="submit" value="Send">
  </form>
  <button id="chooseVal1" type="submit" value="Distance">Distance</button>
  <button id="chooseVal2" type="submit" value="Humidity">Humidity</button>
  <button id="chooseVal3" type="submit" value="Temperature">Temperature</button>
  <button id="chooseVal4" type="submit" value="Photo">Photo</button>
  <button id="startVal1" type="submit" value="Start">Start</button>
  <button id="startVal2" type="submit" value="Stop">Stop</button>
  <form id="close" method="POST" action="#">
    <input type="submit" value="Close">
  </form> 
  <h2>Data</h2>
  <div id="log"></div>
 </body>
</html>
