<!DOCTYPE HTML>
<html>
 <head>
  <title>POIT skuska</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Received #'+msg.count+': \'{"t": '+msg.time+', "x": '+msg.count+', "y": '+msg.data+' }\'<br>').html(); });

      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      $('#buttonVal1').click(function(event) {
          console.log($('#buttonVal').val());
          socket.emit('click_event', {value: $('#buttonVal1').val()});
          return false; });
      $('#buttonVal2').click(function(event) {
          console.log($('#buttonVal2').val());
          socket.emit('click_event', {value: $('#buttonVal2').val()});
          return false; });
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
    </script>
 </head>
 <body>
  <h1>Flask-SocketIO Test</h1>
  <h2>Send:</h2>
  <form id="emit" method="POST" action='#'>
    <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
    <input type="submit" value="Send">
  </form>
  <button id="buttonVal1" type="submit" value="start">Start</button>
  <button id="buttonVal2" type="submit" value="stop">Stop</button>
  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form> 
  <h2>Receive:</h2>
  <div id="log"></div>
 </body>
</html>
