<!DOCTYPE HTML>
<html>
 <head>
  <title>POIT skuska</title>
   <link rel="stylesheet" href="static/jquery-ui.min.css">
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8"></script>
   <script src="static/plotly-latest.min.js"></script>
   <script src="static/gauge.min.js"></script>
   <script src="static/jquery-3.2.1.min.js"></script>
   <script src="static/jquery-ui.min.js"></script>
   <script>
     $(document).ready(function() {
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Data #'+msg.count+': \'{"'+msg.velicina+'": '+msg.data_choose+msg.unit+'}\'<br>').html(); });
        
      var x = new Array();
      var y = new Array();
      var trace;
      var layout;
      velicina_now = "DISTANCE";
      socket.on('my_response', function(msg) {
        x.push(parseFloat(msg.count));
        y.push(parseFloat(msg.data_choose));
        if (velicina_now != msg.velicina){
          x = [];
          y = [];
          velicina_now = msg.velicina;
        }
        trace = {
            x: x,
            y: y,
        };    
        layout = {
          title: 'Graph',
          xaxis: {
              title: 'Count',
          },
          yaxis: {
              title: 'Value',
          }
        };
        console.log(trace);
        var traces = new Array();
        traces.push(trace);
        Plotly.newPlot($('#plotdiv')[0], traces, layout);             
      }); 

      socket.on('my_response', function(msg) {
        if (msg.velicina == "Distance") {
          socket.on('my_response', function(msg) {
            var gauge = new RadialGauge({
            renderTo: 'canvasID',
            width: 300,
            height: 300,
            units: msg.unit,
            minValue: 0,
            maxValue: 300,
            majorTicks: ["0","30.0","60.0","90.0","120.0","150.0","180.0","210.0","240.0","270.0","300.0"],
            minorTicks: 5,
            strokeTicks: true,
            highlights: [
                {
                    "from": 150,
                    "to": 300,
                    "color": "rgba(200, 50, 50, .75)"
                }
            ],
            colorPlate: "#fff",
            borderShadowWidth: 0,
            borders: false,
            needleType: "arrow",
            needleWidth: 2,
            needleCircleSize: 7,
            needleCircleOuter: true,
            needleCircleInner: false,
            animationDuration: 500,
            animationRule: "linear"
            });
            gauge.draw();
            gauge.value = msg.data_choose;
          });
        }
        if (msg.velicina == "Humidity") {
          socket.on('my_response', function(msg) {
            var gauge = new RadialGauge({
            renderTo: 'canvasID',
            width: 300,
            height: 300,
            units: msg.unit,
            minValue: 0,
            maxValue: 100,
            majorTicks: ["0","10.0","20.0","30.0","40.0","50.0","60.0","70.0","80.0","90.0","100.0"],
            minorTicks: 5,
            strokeTicks: true,
            highlights: [
                {
                    "from": 50,
                    "to": 100,
                    "color": "rgba(200, 50, 50, .75)"
                }
            ],
            colorPlate: "#fff",
            borderShadowWidth: 0,
            borders: false,
            needleType: "arrow",
            needleWidth: 2,
            needleCircleSize: 7,
            needleCircleOuter: true,
            needleCircleInner: false,
            animationDuration: 500,
            animationRule: "linear"
            });
            gauge.draw();
            gauge.value = msg.data_choose;
          });
        }
        if (msg.velicina == "Temperature") {
          socket.on('my_response', function(msg) {
            var gauge = new RadialGauge({
            renderTo: 'canvasID',
            width: 300,
            height: 300,
            units: msg.unit,
            minValue: 0,
            maxValue: 50,
            majorTicks: ["0","5.0","10.0","15.0","20.0","25.0","30.0","35.0","40.0","45.0","50.0"],
            minorTicks: 5,
            strokeTicks: true,
            highlights: [
                {
                    "from": 25,
                    "to": 50,
                    "color": "rgba(200, 50, 50, .75)"
                }
            ],
            colorPlate: "#fff",
            borderShadowWidth: 0,
            borders: false,
            needleType: "arrow",
            needleWidth: 2,
            needleCircleSize: 7,
            needleCircleOuter: true,
            needleCircleInner: false,
            animationDuration: 500,
            animationRule: "linear"
            });
            gauge.draw();
            gauge.value = msg.data_choose;
          });
        }
        if (msg.velicina == "Photo") {
          socket.on('my_response', function(msg) {
            var gauge = new RadialGauge({
            renderTo: 'canvasID',
            width: 300,
            height: 300,
            units: msg.unit,
            minValue: 0,
            maxValue: 1,
            majorTicks: ["0","0.1","0.2","0.3","0.4","0.5","0.6","0.7","0.8","0.9","1.0"],
            minorTicks: 5,
            strokeTicks: true,
            highlights: [
                {
                    "from": 0.5,
                    "to": 1,
                    "color": "rgba(200, 50, 50, .75)"
                }
            ],
            colorPlate: "#fff",
            borderShadowWidth: 0,
            borders: false,
            needleType: "arrow",
            needleWidth: 2,
            needleCircleSize: 7,
            needleCircleOuter: true,
            needleCircleInner: false,
            animationDuration: 500,
            animationRule: "linear"
            });
            gauge.draw();
            gauge.value = msg.data_choose;
          });
        }
      });
        
      $('#chooseVal1').click(function(event) {
          console.log($('#chooseVal1').val());
          socket.emit('choose_event', {value: $('#chooseVal1').val()});
          return false; });
      $('#chooseVal2').click(function(event) {
          console.log($('#chooseVal2').val());
          socket.emit('choose_event', {value: $('#chooseVal2').val()});
          return false; });
      $('#chooseVal3').click(function(event) {
          console.log($('#chooseVal3').val());
          socket.emit('choose_event', {value: $('#chooseVal3').val()});
          return false; });
      $('#chooseVal4').click(function(event) {
          console.log($('#chooseVal4').val());
          socket.emit('choose_event', {value: $('#chooseVal4').val()});
          return false; });
      $('#startVal1').click(function(event) {
          console.log($('#startVal1').val());
          socket.emit('start_event', {value: $('#startVal1').val()});
          return false; });
      $('#startVal2').click(function(event) {
          console.log($('#startVal2').val());
          socket.emit('start_event', {value: $('#startVal2').val()});
          return false; }); 
      $('form#closed').submit(function(event) {
          socket.emit('closed');
          return false; });   
      $( function() {
        $("#tabs").tabs({
          event: "mouseover"
        });
      }); 
      });
    </script>
 </head>
 <body>
    <h1>Intelligent home monitoring system</h1>
    <h2>Control</h2>
    <h3>Choose monitored physical value</h3>
    <button id="chooseVal1" type="submit" value="Distance">Distance</button>
    <button id="chooseVal2" type="submit" value="Humidity">Humidity</button>
    <button id="chooseVal3" type="submit" value="Temperature">Temperature</button>
    <button id="chooseVal4" type="submit" value="Photo">Photo</button>
    <hr>
    <h3>Start and Stop</h3>
    <button id="startVal1" type="submit" value="Start">Start</button>
    <button id="startVal2" type="submit" value="Stop">Stop</button>
    <hr>
    <h2>Monitored data</h2>
    <div id="tabs">
      <ul>
        <li><a href="#list">Values</a></li>
        <li><a href="#graph">Graph</a></li>
        <li><a href="#gauge">Gauge</a></li>
      </ul>
      
      <div id="list">
        <div id="log"></div>
      </div>
      
      <div id="graph">
        <div id="plotdiv" style="width:600px;height:250px;"></div>
      </div>
      
      <div id="gauge"> 
        </form> 
          <canvas id="canvasID"></canvas>
      </div>
    </div>
        <hr>
    <h3>Close and disconnect</h3>
    <form id="closed" method="POST" action="#">
      <input type="submit" value="Close">
    </form> 
 </body>
</html>
